.posts-new .form-heading {
  color: black;
  font-size: 30px;
  text-align: center;
}
.posts-new .form-body {
  text-align: center;
}
.posts-new .form-area {
  width: 400px;
  height: 100px;
  font-size: 20px;
  padding: 10px;
  box-sizing: border-box;
}
.posts-new .form-box {
  display: flex;
  width: 400px;
  margin: 0 auto;
}
.posts-new .form-box .form-submit {
  width: 203px;
  text-align: right;
}
.posts-new .form-box .form-date {
  width: 203px;
  text-align: left;
}

.posts-index h2.section-title {
  text-align: center;
}
.posts-index .new_link {
  text-decoration: none;
  color: black;
}
.posts-index .to_do_link {
  text-decoration: none;
  color: red;
}
.posts-index .posts-top {
  width: 900px;
  margin: 0 auto;
  border: 1px solid;
  margin-bottom: 20px;
}
.posts-index .posts-top h2 {
  text-align: center;
}
.posts-index .posts-top .posts-index-item {
  width: 800px;
  display: flex;
  margin: 0 auto;
  align-items: center;
  margin-bottom: 20px;
}
.posts-index .posts-top .posts-index-item .post-content {
  width: 400px;
  padding: 5px;
  text-align: center;
  border: solid 1px;
  margin-right: 20px;
}
.posts-index .posts-top .posts-index-item .post-content .task.completed {
  opacity: 0.2;
  text-decoration: line-through;
  text-decoration-thickness: 2px;
}
.posts-index .posts-top .posts-index-item .post-content .post_link {
  text-decoration: none;
  color: black;
}
.posts-index .posts-top .posts-index-item .posts-due-date {
  margin-right: 20px;
}
.posts-index .posts-top .posts-index-item .posts-button {
  width: 180px;
  text-align: center;
}

.posts-today h2.section-title {
  text-align: center;
}
.posts-today .new_link {
  text-decoration: none;
  color: black;
}
.posts-today .to_do_link {
  text-decoration: none;
  color: blue;
}
.posts-today .posts-top {
  width: 900px;
  margin: 0 auto;
  border: 1px solid;
  margin-bottom: 20px;
}
.posts-today .posts-top h2 {
  text-align: center;
}
.posts-today .posts-top .posts-index-item {
  width: 800px;
  display: flex;
  margin: 0 auto;
  align-items: center;
  margin-bottom: 20px;
  margin-top: 20px;
}
.posts-today .posts-top .posts-index-item .post-content {
  width: 400px;
  padding: 5px;
  text-align: center;
  border: solid 1px;
  margin-right: 20px;
}
.posts-today .posts-top .posts-index-item .post-content .task.completed {
  text-decoration: line-through;
  text-decoration-thickness: 3px;
  color: black;
  opacity: 0.3;
}
.posts-today .posts-top .posts-index-item .post-content .post_link {
  text-decoration: none;
  color: black;
}
.posts-today .posts-top .posts-index-item .posts-due-date {
  margin-right: 20px;
}
.posts-today .posts-top .posts-index-item .posts-button {
  width: 180px;
  text-align: center;
}

.posts-edit .form-heading {
  color: black;
  font-size: 30px;
  text-align: center;
}
.posts-edit .form-body {
  text-align: center;
}
.posts-edit .form-body .form-area {
  width: 400px;
  height: 100px;
  font-size: 20px;
  padding: 10px;
  box-sizing: border-box;
  margin: 0 auto;
}
.posts-edit .form-submit {
  width: 400px;
  text-align: right;
  margin: 0 auto;
}

.posts-show .posts-show-item {
  width: 400px;
  height: 100px;
  margin: 0 auto;
  border: solid 1px;
  font-size: 20px;
  padding: 10px;
  box-sizing: border-box;
}
.posts-show .post-menus {
  width: 400px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
.posts-show .post-menus .post-edit {
  width: 200px;
  text-align: left;
  text-decoration: none;
  color: blue;
}
.posts-show .post-menus .post-delete {
  width: 200px;
  text-align: right;
  text-decoration: none;
  color: red;
}

/*# sourceMappingURL=application.css.map */
