<div class = "posts-header">
  <div class = "header-label">
    <%= link_to "新規投稿", new_post_path ,class: "new_link" %>
    <%= link_to "タスク一覧" , posts_path , class: "index-link"%>
    <%= link_to "今日のタスク", today_posts_path ,class: "to_do_link" %>
    <% if user_signed_in? %>
      <%= link_to "ログアウト", destroy_user_session_path, data: { turbo_method: :delete} , class: "logout"%>
    <% end %>
  </div>
</div>