<div class = "posts-show">
  <div class="posts-show-item">
    <%= @post.content %>
  </div>
  <div class="post-menus">
    <%= link_to "編集", edit_post_path(@post) , class: "post-edit" %>
    <%= link_to"削除", post_path(@post) ,data: { turbo_method: :delete} , class: "post-delete"%>
  </div>
</div>