.form-heading{
  color:black;
  font-size:30px;
  text-align:center;
}
.form-body{
  text-align:center;
}
.form-area {
  width:400px;
  height:100px;
}
.form-submit {
  width: 400px;
  margin: 0 auto;
  text-align: right;
}