.posts-header{
  .header-label{
    background-color: #ccffff;
    height: 50px;
    padding: 10px;
    .new_link {
      text-decoration: none;
      color: #0066cc;
      font-size: 20px;
      line-height: 50px;
    }
    .index-link{
      text-decoration: none;
      color: #0066cc;
      margin-left: 10px;
      font-size: 20px;
    }
    .to_do_link{
      text-decoration: none;
      color: #0066cc;
      margin-left: 10px;
      font-size: 20px;
    }
    .logout{
      text-decoration: none;
      color: #0066cc;
      margin-left: 10px;
      font-size: 20px;
    }
  }
}