h2{
  text-align: center;
}
.new_link{
text-decoration: none;
color:black;
}
.posts-index-item{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  gap: 20px;
  .post-content{
    width: 400px;
    padding: 5px;
    text-align: center;
    border: solid 1px;
  }
}