.new_link{
text-decoration: none;
color:black;
}
.posts-top{
  width: 900px;
  margin: 0 auto;
  border: 1px solid;
  margin-bottom: 20px;
  h2{
    text-align: center;
  }
  .posts-index-item{
    width: 800px;
    display: flex;
    margin: 0 auto;
    align-items: center;
    margin-bottom: 20px;
  
    .post-content{
      width: 400px;
      padding: 5px;
      text-align: center;
      border: solid 1px;
      margin-right: 20px;
    }
    .posts-due-date{
      margin-right: 20px;
    }
    .posts-button{
      width: 180px;
      text-align: center;
    }
  }
}